ul, 
ol {list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {color: inherit;
text-decoration: none;
}
button {cursor: pointer;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

.container {
    width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}


body {
font-family: "Roboto", sans-serif;
color:#434455; 
background-color:#FFFFFF;
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}
/*--header-styles--*/

.page-header-container {
    display: flex;
justify-content: space-between;
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
    

.page-navigation {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 332px;
}


.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-right: 76px;
}

.menu {
    display: flex;
    column-gap: 40px;
}

.text-color {color: #2e2f42;
}



.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
}

    .menu-link:hover,
    .menu-link:focus  
    {color: #404bbf;
    }
    
.menu-top-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
}

        .menu-top-link:hover,
        .menu-top-link:focus {
         color: #404bbf;
        }

address {font-style: normal;
}

.menu-top {
    display: flex;
    column-gap: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

/*--Section1--*/ 

.page-box {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
}


 .page-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 188px;
    margin-left: 331px;
    color: #FFFFFF;
}

 .button-one {
    width: 169px;
    height: 56px;
    margin-left: 495px;
    margin-right: 495px;
    margin-bottom: 188px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
}

    .button-one:hover,
    .button-one:focus {
     background-color: #404bbf;
    }

 /*--Section2--*/

 .subject {
    font-size: 0;
 }
 .page-main {
    display: flex;
    column-gap: 24px;
 }

.page-main-title {
    width: 264px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

 .page-main-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

    /*--Section3-4--*/ 

.page-menu-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    
}

.menu-list {
    background-color: #FFFFFF;
}
.section-three {
    
    background-color: #f4f4fd;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 120px;
    color: #2e2f42;
}

   

 .title-three {
    font-weight: 500;
    font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}              


.section-three-four {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}



/*--Footer--*/

.footer-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

    .text-color-two {
        color: #f4f4fd;
    }

    